<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.stock.mapper.OrderMapper">



    <insert id="insertOrder2"  keyColumn="id" keyProperty="id" parameterType="com.itheima.stock.pojo.domain.OrderZhuDomain" useGeneratedKeys="true">
       INSERT into order_zhu (user_id,total_price,construct)
		VALUES(#{userId},#{totalPrice},#{construct})
    </insert>



    <select id="getOrderPage" resultType="com.itheima.stock.pojo.domain.OrderZhuDomain">
        seLect *
        from
        order_zhu
        limit #{start},#{pageSize}

    </select>









</mapper>


